
/* Colors */
body {
    background: #46878f;
    margin: 16px 32px;
    font-family: "Helvetica Neue",HelveticaNeue,Arial,sans-serif;
}

.content {
    background-color: whitesmoke;
    margin: 0 auto;
    max-width: 60vw;
    padding: 2rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #332c50;
}

h2 {
    color:#332c50;
}

h1,
h2 {
    font-family: 'Gibson', sans-serif, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
    font-weight: bold;
}
h3, h3 a {
    margin-left:0.5rem;
    color: #5a8256;
}

a {
    color: #46878f;
    text-decoration: none;
}

ul {
    list-style: none;
}

.small-print {
    margin: 1rem auto;
    text-align: center;
    font-size: 0.75rem;
    color: white;
}

.header {
    
    text-align:center;
    margin: 1rem auto;
}

.header * {
    display: inline-block;
    margin-right: 2rem;
    vertical-align: middle;
}



